menu "user packages " 
config freertos-ocm  
	 bool "freertos-ocm"
	 help
	
config gpio-demo  
	 bool "gpio-demo"
	 help
	
config linux-ocm  
	 bool "linux-ocm"
	 help
	
config peekpoke  
	 bool "peekpoke"
	 help
	
config read-ocm  
	 bool "read-ocm"
	 help
	
endmenu
